body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

header {
  height: 72px;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  text-decoration: none;
}

.logo-up-right {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  text-decoration: none;
}

.logo-down-right {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  text-decoration: none;
}

.nav-bar {
  color: #2e2f42;
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-decoration: none;
  list-style-type: none;
}

.adress-bar {
  color: #434455;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-decoration: none;
  list-style-type: none;
}

#adress-bar-mail {
  color: #434455;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style-type: none;
}

#adress-bar-mail:hover {
  color: #404bbf;
}

#adress-bar-mail:focus {
  color: #404bbf;
}

.section-one {
  background-color: #2e2f42;
}

.section-one-title {
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.section-one-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  cursor: pointer;
}

.section-one-button:hover {
  background-color: #404bbf;
}

.section-one-button:focus {
  background-color: #404bbf;
}

#section-two-title {
  color: #2e2f42;
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.section-two-mini-title {
  color: #2e2f42;
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  text-decoration: none;
  list-style-type: none;
}

.section-two-text {
  color: #2e2f42;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-decoration: none;
  list-style-type: none;
}

#section-three-title {
  color: #2e2f42;
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.section-three-mini-title {
  color: #2e2f42;
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  text-decoration: none;
  list-style-type: none;
}
